body {
    background-color:grey;
}

.wrapper {
    width:90%;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.box {
    padding:15px;
    border:15px solid #fff;
    background-color:whitesmoke;
    float:left;
    margin-right:45px;
    transition:all .8s;
}

.box:hover {
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.2), 3px 25px 55px -1px rgba(0,0,0,0.5),
    025px -25px 80px -15px rgba(255,255,255,0.9);
}